* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: red;
    animation: animal;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    border-radius: 100px 100px;

}

@keyframes animal {

    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 30rem;
        border-radius:20px ;
        margin-top: 0rem;
        background-color: cyan;
    }


   50%{
        margin-top: 20rem;
        margin-left: 30rem;
        border-radius: 20px;
        background-color: blueviolet;

    }
    75%{ margin-top: 20rem;
        margin-left: 0rem;
        background-color: darkblue;

    }
   100% {
    margin-left: 0;
    margin-top: 0;
    background-color: crimson;
    }



}